* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main-content main-content main-content";
}

.sidebar {
    background-color: rgb(51, 143, 255);
    grid-area: sidebar;
    font-family: "Roboto";
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0.5rem;



}

.sidebar-group {
    display: grid;
    grid-template-columns: 2em 1fr;
    row-gap: 0.5rem;
    column-gap: .7rem;
    align-items: center;
    justify-items: start;
}

.sidebar .symbol {
    height: 1.25rem;
    width: auto;
    justify-self: center;
}

.sidebar .symbol.dashboard-symbol {
    height: 2rem;
}

.dashboard {
    font-size: 1.1rem;
    font-weight: 600;
}


.header {
    grid-area: header;
    background-color: blueviolet;
}

.main-content {
    background-color: rgb(200, 200, 200);
    grid-area: main-content;
}