* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main-content main-content main-content";
}

.sidebar {
    background-color: rgb(51, 143, 255);
    grid-area: sidebar;
    font-family: "Roboto";
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem 1.2rem;
}

.sidebar-group {
    display: grid;
    grid-template-columns: 2em 1fr;
    row-gap: 0.5rem;
    column-gap: .7rem;
    align-items: center;
    justify-items: start;
    gap: 1rem;
}

.symbol {
    height: 1.25rem;
    width: auto;
    justify-self: center;
}

.sidebar .symbol.dashboard-symbol {
    height: 2.5rem;
}

.dashboard {
    font-size: 1.2rem;
    font-weight: 600;
}

.header {
    grid-area: header;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem 1.2rem;
    font-family: "Roboto",sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.header-sub {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    gap: 1.2rem;

}

.header-greeting {
    font-size: 0.85rem;
    font-weight: 500;
}

.username {
    font-weight: 600;
    font-size: 1.2rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.search {
    padding: 0.3rem 1.2rem;
    border-radius: 999px;
    background-color: rgb(200, 200, 200);
    color: black;
    font-weight: 700;
    min-width: 25rem;
    outline: none;
}

.button {
    background-color: rgb(51, 143, 255);
    padding: 0.5rem 1.5rem;
    min-width: 10ch;
    border-radius: 9999px;
    border: 1px solid black;
    outline: none;
    color: white;
    font-size: 0.7rem;
    font-family: "Roboto";
}

.main-content {
    background-color: rgb(200, 200, 200);
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
    "main-left main-left main-right";
    gap: 2rem;
}

.main-section {

}

.main-left {
    grid-area: main-left;
}

.main-right {
    grid-area: main-right;
}

.main-header {

}

.section-header {

}

.card-container {

}

.card {

}

.card-title {

}

.card-text {

}

.card-symbols {

}

.subsection {

}

.subsection.announcments {

}

.subsection.trending {

}